<div class="modal-header">
  <div class="modal-title h4">{{ 'title.deleteTitle' | translate }}</div>
  <button 
    type="button"
    class="btn btn-icon btn-sm btn-close btn-active-light-primary" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"  
    (click)="modal.close()">
    <app-keenicon name="cross" class="fs-1"></app-keenicon>
  </button> 
</div>
<div 
  class="modal-body cursor-default"
  [ngClass]="{'overlay overlay-block': isLoading}">
  <ng-container *ngIf="isLoading">
    <div class="overlay-layer bg-dark bg-opacity-5">
      <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
  </div>   
</ng-container>      
  <ng-container *ngIf="isLoading">
    <span>{{ 'title.deletingInfo' | translate }}.</span>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <span>{{ 'form.deletePropertyConf' | translate }}</span>
  </ng-container>
</div>

<div class="modal-footer">
  <div>
    <button type="button" class="btn btn-light btn-elevate fw-bolder me-1" (click)="modal.dismiss()">
      {{ 'btn.cancelBtn' | translate }}
    </button>&nbsp;
    <button type="button" class="btn btn-light-danger btn-elevate fw-bolder" (click)="deleteProducts()">
      {{ 'btn.deleteBtn' | translate }}
    </button>
  </div>
</div>