<!--Navigation-->
<div class="menu-item px-3">
    <div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">
        {{ 'title.quickTitle' | translate }}
    </div>
</div>
<div class="separator mb-3 opacity-75"></div>
<div class="menu-item px-3">
    <a class="menu-link px-3 cursor-pointer" routerLink="/admins">
    <span class="menu-title">{{ 'nav.viewAllAdminsNav' | translate }}</span>
    </a>
</div>
<div class="menu-item px-3">
    <a class="menu-link px-3 cursor-pointer" routerLink="/builder">
        <span class="menu-title">{{ 'nav.builderNav' | translate }}</span>
    </a>
</div>
<div class="separator mt-3 opacity-75"></div>

