<div class="modal-header">
    <div class="modal-title h4">
        Converter para cliente         
    </div>
    <button 
        type="button"
        class="btn btn-icon btn-sm btn-close btn-active-light-primary" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"  
        (click)="modal.close()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
    </button>   
</div>
<div 
    class="modal-body py-10 px-lg-10"
    [ngClass]="{'overlay overlay-block': isLoading}">
    <!--Overlay Layer-->
    <ng-container *ngIf="isLoading">
        <div class="overlay-layer bg-dark bg-opacity-5 z-index-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-container>  
    <div 
        id="kt_modal_update_client_scroll"
        data-kt-scroll="true"
        data-kt-scroll-activate="{default: false, lg: true}"
        data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_modal_update_client_scroll"
        data-kt-scroll-wrappers="#kt_modal_update_client_scroll"
        data-kt-scroll-offset="300px"
        style="max-height: 624px;"
        class="d-flex flex-column scroll-y me-n7 pe-7">     
        <ng-container *ngIf="leads">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="required fs-6 fw-semibold mb-2">{{ 'form.firstNameField' | translate }}</label>
                        <input 
                            type="text"
                            name="firstname"
                            class="form-control form-control-lg form-control-solid" 
                            [class.is-invalid]="isControlInvalid('firstname')"
                            [class.is-valid]="isControlValid('firstname')"                        
                            formControlName="firstname"
                        />
                        <div class="valid-feedback" *ngIf="isControlValid('firstname')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    </div>
                </div>  
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="required fs-6 fw-semibold mb-2">{{ 'form.lastNameField' | translate }}</label>
                        <input 
                            type="text"
                            name="lastname"
                            class="form-control form-control-lg form-control-solid" 
                            [class.is-invalid]="isControlInvalid('lastname')"
                            [class.is-valid]="isControlValid('lastname')"                        
                            formControlName="lastname"
                        />
                        <div class="valid-feedback" *ngIf="isControlValid('lastname')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    </div>
                </div>   
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="required fs-6 fw-semibold mb-2">{{ 'form.emailAddressField' | translate }}</label>
                        <div class="input-group input-group-lg input-group-solid">
                            <input 
                                type="text"
                                name="email"
                                class="form-control form-control-lg form-control-solid" 
                                [class.is-invalid]="isControlInvalid('email')"
                                [class.is-valid]="isControlValid('email')"                        
                                formControlName="email"
                            />
                            <span class="input-group-text">
                                <i class="fa fa-envelope"></i>
                            </span>    
                        </div>                            
                        <span class="form-text text-muted">{{ 'profile.accountEmailHelper' | translate }}</span>
                        <div class="valid-feedback" *ngIf="isControlValid('email')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    </div>
                </div>        
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="required fs-6 fw-semibold mb-2">{{ 'form.phoneField' | translate }}</label>
                        <input 
                            type="text"
                            name="phonenumber"
                            class="form-control form-control-lg form-control-solid" 
                            [class.is-invalid]="isControlInvalid('phonenumber')"
                            [class.is-valid]="isControlValid('phonenumber')"                        
                            formControlName="phonenumber"
                        />
                        <div class="valid-feedback" *ngIf="isControlValid('phonenumber')">{{ 'form.propertyfieldMsg' | translate }}</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'phonenumber')">{{ 'form.propertyNameHelper' | translate }}</div>
                    </div>
                </div>  
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="fs-6 fw-semibold mb-2">{{ 'form.cityField' | translate }}</label>
                        <input 
                            type="text"
                            name="city"
                            class="form-control form-control-lg form-control-solid" 
                            [class.is-invalid]="isControlInvalid('city')"
                            [class.is-valid]="isControlValid('city')"                        
                            formControlName="city"
                        />
                        <div class="valid-feedback" *ngIf="isControlValid('city')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    </div>                    
                </div>
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="fs-6 fw-semibold mb-2">{{ 'form.stateField' | translate }}</label>
                        <input 
                            type="text"
                            name="state"
                            class="form-control form-control-lg form-control-solid" 
                            [class.is-invalid]="isControlInvalid('state')"
                            [class.is-valid]="isControlValid('state')"                        
                            formControlName="state"
                        />
                        <div class="valid-feedback" *ngIf="isControlValid('state')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    </div>                    
                </div>
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="fs-6 fw-semibold mb-2">{{ 'form.addressField' | translate }}</label>
                        <textarea 
                            type="text"
                            class="form-control form-control-lg form-control-solid"
                            [class.is-invalid]="isControlInvalid('address')"
                            [class.is-valid]="isControlValid('address')"
                            name="address"
                            formControlName="address"
                            rows="1">
                        </textarea>                                                
                        <div class="valid-feedback" *ngIf="isControlValid('address')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    </div>                     
                </div>
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="fs-6 fw-semibold mb-2">{{ 'form.zipField' | translate }}</label>
                        <input 
                            type="text"
                            name="zip"
                            class="form-control form-control-lg form-control-solid" 
                            [class.is-invalid]="isControlInvalid('zip')"
                            [class.is-valid]="isControlValid('zip')"                        
                            formControlName="zip"
                        />
                        <div class="valid-feedback" *ngIf="isControlValid('zip')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    </div>                       
                </div>
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="fs-6 fw-semibold mb-2">{{ 'profile.formNewPassword' | translate }}</label>
                        <div class="input-group input-group-lg input-group-solid">
                            <input 
                                [type]="showPassword ? 'text' : 'password'"
                                [placeholder]="'profile.formNewPassword' | translate"
                                autocomplete="off"
                                formControlName="password"
                                [class.is-invalid]="isControlInvalid('password')"
                                [class.is-valid]="isControlValid('password')" 
                                class="form-control form-control-lg form-control-solid"
                            />
                            <span class="input-group-text" (click)='showHidePassword()'>
                                <i class="fa fs-3" [ngClass]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </span>                                  
                        </div>
                        <span class="form-text text-muted">{{ 'profile.newPassword2Helper' | translate }}</span>
                    </div>
                </div>
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="col-12">
                        <label class="fs-6 fw-semibold mb-2">{{ 'profile.formNewRpassword' | translate }}</label>
                        <div class="input-group input-group-lg input-group-solid">
                            <input 
                                [type]="showPassword ? 'text' : 'password'"
                                [placeholder]="'profile.formNewRpassword' | translate"
                                autocomplete="off"
                                formControlName="cPassword"
                                [class.is-invalid]="isControlInvalid('cPassword')"
                                [class.is-valid]="isControlValid('cPassword')" 
                                class="form-control form-control-lg form-control-solid"
                            />
                            <span class="input-group-text" (click)='showHidePassword()'>
                                <i class="fa fs-3" [ngClass]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                            </span>   
                        </div>                            
                        <div class="valid-feedback" *ngIf="isControlValid('cPassword')">{{ 'profile.newPassMatchReqVal' | translate }}</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">{{ 'profile.newPassNotMatchReqVal' | translate }}</div> 
                        <span class="form-text text-muted">{{ 'profile.rnewPasswordHelper' | translate }}</span>                    
                    </div>
                </div>   
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <!--Label-->
                    <div class="fw-bold mb-6">
                        <label class="fs-6">Notificar Contato</label>
                        <div class="fs-7 text-muted">Permitir notificações por e-mail</div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-start mb-4">
                            <!--Checkbox-->
                            <label class="form-check form-check-custom form-check-solid me-0">
                                <input 
                                    class="form-check-input h-20px w-20px" 
                                    type="checkbox" 
                                    name="send_set_password_email" 
                                    formControlName="send_set_password_email"
                                    (change)="sendEmail($event)">
                                <span class="form-check-label fw-bold">Enviar e-mail com senha SET</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-start">
                            <!--Checkbox-->
                            <label class="form-check form-check-custom form-check-solid me-0">
                                <input 
                                    class="form-check-input h-20px w-20px" 
                                    type="checkbox" 
                                    name="do_notsend_welcome_email"
                                    formControlName="do_notsend_welcome_email"
                                    (change)="doNotSendemail($event)">
                                <span class="form-check-label fw-bold">Não mandar mensagem de bem-vindo</span>
                            </label>
                        </div>                          
                    </div>                   
                </div>                                           
            </form>
        </ng-container>
    </div>    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light fw-bolder me-2" (click)="modal.close()">
        {{ 'btn.cancelBtn' | translate }}
    </button>
    <ng-container *ngIf="leads">
        <button type="submit" class="btn btn-primary fw-bolder" (click)="save()" [disabled]="formGroup.invalid">
            {{ 'btn.saveBtn' | translate }}
        </button>
    </ng-container>
</div>  