<section class="border-top-1 border-color-primary">
    <div class="app-container">
        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="col-lg-4 col-xl-3">
                    <h1 class="fs-2tx fw-bold text-primary">            
                        Vamos conversar
                    </h1>
                </div>
                <div class="col-lg-8 col-xl-8 offset-xl-1">
                    <div class="fs-4 mb-6">            
                        <p class="text-muted">
                            Se você tiver alguma dúvida, sugestão ou apenas queira entrar em contato conosco, estamos aqui para ajudar.              
                        </p>
                    </div>
                    <a (click)="changeRoute($event)" class="btn btn-lg btn-outline btn-outline-primary btn-active-outline-primary btn-active-white btn-motion btn-active-motion-primary" aria-label="Entre em contato com a gente">
                        <span class="btn-title">
                            <span title="Entre em contato com a gente">Entre em contato com a gente</span>
                        </span>                                    
                        <span class="btn-motion-ripple"><span></span></span>
                    </a>                             
                </div>
            </div>
        </div>
    </div>
</section>

