<div class="row gy-5 g-xl-10">
    <div class="col-xl-4 mb-xl-10">
        <div class="card h-100" dir="ltr" style="background-size: cover;background:url('./assets/media/svg/wave-bg-red.svg') #ffb5c7 repeat-y bottom right;">
            <div class="card-body px-0 d-flex flex-column flex-center">
                <div class="mb-2">
                    <h1 class="fw-semibold text-gray-800 text-center lh-lg">           
                        Visão geral des dados, <br> da página <span class="fw-bolder"> Google Analytics. </span>
                    </h1>
                    <div class="py-10 text-center">
                        <img src="./assets/media/illustrations/easy/1.svg" class="theme-light-show w-200px" alt="">
                        <img src="./assets/media/illustrations/easy/1-dark.svg" class="theme-dark-show w-200px" alt="">
                    </div>
                </div>
                <!--
                    <div class="text-center mb-1">
                        <a class="btn btn-sm btn-primary me-2">
                            Try now            
                        </a>
                    </div>
                -->
            </div>
        </div>
    </div>    
    <div class="col-xl-8 mb-xl-10">
        <ng-container *ngIf="date$ | async as _date">
            <app-widget-date 
                [start_date]="_date.start_date" 
                [end_date]="_date.end_date"
                [chartColor]="'danger'"
                [chartHeight]="'350px'">
            </app-widget-date>
        </ng-container>
    </div>
</div>