<ng-container *ngIf="contact">  
    <!-- Alert error-->     
    <ng-container *ngIf="hasError">
        <div class="alert alert-dismissible bg-danger d-flex flex-column flex-sm-row p-5 mb-10">
            <span 
                [inlineSVG]="'./assets/media/icons/duotune/general/gen048.svg'"
                class="svg-icon svg-icon-2hx svg-icon-light me-3">
            </span>
            <!--Wrapper-->
            <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                <!--Title-->
                <h4 class="mb-1 text-light">Error</h4>
                <!--Content-->
                <span>{{ hasError }}</span>
            </div>                        
        </div>
    </ng-container>            
    <div [formGroup]="formGroup">   
        <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
            data-kt-image-input="true" 
            [class.image-input-empty]="!contact.profile_image"
            [style.backgroundImage]="'url(./assets/media/svg/blank-image.svg)'">
            <!--Preview -->
            <div 
                class="image-input-wrapper w-150px h-150px bgi-position-center bgi-size-contain"
                [style.backgroundImage]="getPicture()">
            </div>
            <!--Label-->
            <label 
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" 
                data-kt-image-input-action="change" 
                [ngbTooltip]="'btn.uploadBtn' | translate">
                <i class="fa fa-pencil fs-7"></i>
                <!--Inputs-->
                <input type="file" id="profile_image" name="profile_image" (change)="onSelectedFile($event)" accept=".png, .jpg, .jpeg">
                <input type="hidden" name="profile_image" formControlName="profile_image" />
            </label>
            <!--Cancel-->
            <span 
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="cancel" 
                [ngbTooltip]="'btn.cancelBtn' | translate">
                <i class="fa fa-close fs-6"></i>
            </span>
            <!--Remove-->
            <span 
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" 
                data-kt-image-input-action="remove" 
                [ngbTooltip]="'btn.deleteBtn' | translate"
                (click)="deletePicture()">
                <i class="fa fa-close fs-6"></i>
            </span>                                          
        </div>   
        <ng-container *ngIf="settings$ | async as set">
            <div class="text-muted fs-7" >{{ 'form.allowedImagesTypesQuip' | translate }} .png, .jpg, .jpeg</div>   
        </ng-container>
    </div>        
</ng-container>
