<ng-template #first>
  <span
    [inlineSVG]="'./assets/media/icons/duotune/arrows/arr021.svg'" class="svg-icon svg-icon-sm"
    aria-hidden="true"
    i18n="@@ng.pagination.first"
  ></span>  
</ng-template>
<ng-template #previous>
  <span
    [inlineSVG]="'./assets/media/icons/duotune/arrows/arr022.svg'" class="svg-icon svg-icon-sm"
    aria-hidden="true"
    i18n="@@ng.pagination.previous"
  ></span>    
</ng-template>
<ng-template #next>
  <span
    [inlineSVG]="'./assets/media/icons/duotune/arrows/arr023.svg'" class="svg-icon svg-icon-sm"
    aria-hidden="true"
    i18n="@@ng.pagination.next"
  ></span>  
</ng-template>
<ng-template #last>
  <span
    [inlineSVG]="'./assets/media/icons/duotune/arrows/arr024.svg'" class="svg-icon svg-icon-sm"
    aria-hidden="true"
    i18n="@@ng.pagination.last"
  ></span>  
</ng-template>
<ng-template #ellipsis>...</ng-template>
<ng-template #defaultNumber let-page let-currentPage="currentPage">
  {{ page }}
  <span *ngIf="page === currentPage" class="sr-only">(current)</span>
</ng-template>
<ul class="pagination">
  <li 
    *ngIf="boundaryLinks"
    [class.disabled]="previousDisabled()"
    class="paginate_button page-item first">
    <a 
      href
      (click)="selectPage(1); $event.preventDefault()"
      [attr.tabindex]="previousDisabled() ? '-1' : null"
      [attr.aria-disabled]="previousDisabled() ? 'true' : null" 
      aria-label="First"
      i18n-aria-label="@@ng.pagination.first-aria"      
      class="page-link">
      <ng-template
        [ngTemplateOutlet]="tplFirst?.templateRef || first"
        [ngTemplateOutletContext]="{
          disabled: previousDisabled(),
          currentPage: page
        }"
      ></ng-template>      
    </a>
  </li>  
  <li 
    *ngIf="boundaryLinks"
    [class.disabled]="previousDisabled()"
    class="paginate_button page-item previous">
    <a 
      href
      (click)="selectPage(page - 1); $event.preventDefault()"
      [attr.tabindex]="previousDisabled() ? '-1' : null"
      [attr.aria-disabled]="previousDisabled() ? 'true' : null"
      aria-label="Previous"
      i18n-aria-label="@@ng.pagination.previous-aria"   
      class="page-link">
      <ng-template
        [ngTemplateOutlet]="tplPrevious?.templateRef || previous"
        [ngTemplateOutletContext]="{ disabled: previousDisabled() }"
      ></ng-template>    
    </a>
  </li>  
  <ng-container *ngFor="let pageNumber of pages">
    <li 
      class="paginate_button page-item"
      [class.active]="pageNumber === page">
      <a
        *ngIf="isEllipsis(pageNumber)"
        class="page-link"
        tabindex="-1"
        aria-disabled="true"
        [class.disabled]="isEllipsis(pageNumber) || disabled"
        [attr.aria-current]="pageNumber === page ? 'page' : null">
        <ng-template
          [ngTemplateOutlet]="tplEllipsis?.templateRef || ellipsis"
          [ngTemplateOutletContext]="{ disabled: true, currentPage: page }"
        ></ng-template>
      </a>
    </li>
    <li
      class="paginate_button page-item"
      [class.active]="pageNumber === page"
      [class.disabled]="isEllipsis(pageNumber) || disabled">
      <a
        *ngIf="!isEllipsis(pageNumber)"
        class="page-link"
        (click)="selectPage(pageNumber); $event.preventDefault()"
        [attr.tabindex]="disabled ? '-1' : null"
        [attr.aria-disabled]="disabled ? 'true' : null"
        [attr.aria-current]="pageNumber === page ? 'page' : null">
        <ng-template
          [ngTemplateOutlet]="tplNumber?.templateRef || defaultNumber"
          [ngTemplateOutletContext]="{
            disabled: disabled,
            $implicit: pageNumber,
            currentPage: page
          }"
        ></ng-template>
      </a>
    </li>
  </ng-container>
  <li 
    *ngIf="directionLinks"
    [class.disabled]="nextDisabled()"
    class="paginate_button page-item next">  
    <a
      href
      class="page-link"
      (click)="selectPage(page + 1); $event.preventDefault()"
      [attr.tabindex]="nextDisabled() ? '-1' : null"
      [attr.aria-disabled]="nextDisabled() ? 'true' : null"
      aria-label="Next"
      i18n-aria-label="@@ng.pagination.next-aria">
      <ng-template
        [ngTemplateOutlet]="tplNext?.templateRef || next"
        [ngTemplateOutletContext]="{
          disabled: nextDisabled(),
          currentPage: page
        }"
      ></ng-template>
    </a>
  </li>
  <li 
    *ngIf="boundaryLinks"
    [class.disabled]="nextDisabled()"
    class="paginate_button page-item last">    
    <a
      href
      class="page-link"
      (click)="selectPage(pageCount); $event.preventDefault()"
      [attr.tabindex]="nextDisabled() ? '-1' : null"
      [attr.aria-disabled]="nextDisabled() ? 'true' : null"
      aria-label="Last"
      i18n-aria-label="@@ng.pagination.last-aria">
      <ng-template
        [ngTemplateOutlet]="tplLast?.templateRef || last"
        [ngTemplateOutletContext]="{
          disabled: nextDisabled(),
          currentPage: page
        }"
      ></ng-template>
    </a>
  </li>
</ul>