<ng-container *ngIf="staff">
    <div class="card mb-5 mb-xxl-8 py-5" [formGroup]="formGroup">
        <!--Header-->
        <div class="card-header border-0 cursor-pointer">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label fw-bolder text-dark">{{ 'profile.changePasswordTitle' | translate }}</h3>
                <span class="text-muted fw-bold fs-6 mt-1">{{ 'profile.updatePasswordModalInfo' | translate }}</span>
            </div>
            <div class="card-toolbar"></div>
        </div>
        <!--Header-->
        <!--Form-->
        <div class="form">
            <div class="card-body border-top p-9">
                <ng-container *ngIf="!showChangePasswordForm">
                    <div class="d-flex flex-wrap align-items-center mb-10">
                      <div id="kt_signin_password" class="false">
                        <div class="fs-6 fw-bolder mb-1">{{ 'form.passwordField' | translate }}</div>
                        <div class="fw-bold text-gray-600">************</div>
                      </div>
                      <div id="kt_signin_password_button" class="ms-auto false">
                        <button
                          class="btn btn-light btn-active-light-primary"
                          (click)="togglePasswordForm(true)">
                          {{ 'profile.formUpdatePassword' | translate }}
                        </button>
                      </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="showChangePasswordForm">
                    <div class="form-group row mb-7">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">{{ 'profile.formNewPassword' | translate }}</label>
                        <div class="col-lg-8">
                            <div class="input-group input-group-lg input-group-solid">
                                <input 
                                    [type]="showPassword ? 'text' : 'password'"
                                    [placeholder]="'profile.formNewPassword' | translate"
                                    autocomplete="off"
                                    formControlName="password"
                                    [class.is-invalid]="isControlInvalid('password')"
                                    [class.is-valid]="isControlValid('password')" 
                                    class="form-control form-control-lg form-control-solid"
                                />
                                <span class="input-group-text" (click)='showHidePassword()'>
                                    <i class="fa fs-3" [ngClass]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                </span>                                  
                            </div>
                            <span class="form-text text-muted">{{ 'profile.newPassword2Helper' | translate }}</span>
                        </div>
                    </div>
                    <div class="form-group row mb-7">
                        <label class="col-lg-4 col-form-label fw-bold fs-6 required">{{ 'profile.formNewRpassword' | translate }}</label>
                        <div class="col-lg-8">
                            <div class="input-group input-group-lg input-group-solid">
                                <input 
                                    [type]="showPassword ? 'text' : 'password'"
                                    [placeholder]="'profile.formNewRpassword' | translate"
                                    autocomplete="off"
                                    formControlName="cPassword"
                                    [class.is-invalid]="isControlInvalid('cPassword')"
                                    [class.is-valid]="isControlValid('cPassword')" 
                                    class="form-control form-control-lg form-control-solid"
                                />
                                <span class="input-group-text" (click)='showHidePassword()'>
                                    <i class="fa fs-3" [ngClass]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                </span>   
                            </div>                            
                            <div class="valid-feedback" *ngIf="isControlValid('cPassword')">{{ 'profile.newPassMatchReqVal' | translate }}</div>
                            <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">{{ 'profile.newPassNotMatchReqVal' | translate }}</div> 
                            <span class="form-text text-muted">{{ 'profile.rnewPasswordHelper' | translate }}</span>                    
                        </div>
                    </div>
                </ng-container>
                <div
                    class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
                    <span
                        class="svg-icon svg-icon-2tx svg-icon-primary me-4"
                        [inlineSVG]="'./assets/media/icons/duotune/general/gen048.svg'">
                    </span>
                    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                        <div class="mb-3 mb-md-0 fw-bold">
                            <h4 class="text-gray-800 fw-bolder">{{ 'profile.updatePasswordModalTitle' | translate }}</h4>
                            <div class="fs-6 text-gray-600 pe-7">
                                {{ 'profile.updatePasswordAlertInfo' | translate }}
                            </div>
                        </div>
                    </div>    
                </div>            
            </div>
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="reset" class="btn btn-light btn-active-light-primary me-2" (click)="cancel()">
                    {{ 'btn.resetBtn' | translate }}
                </button>                
                <button type="submit" [disabled]="formGroup.invalid" class="btn btn-primary" (click)="save()">
                    <ng-container *ngIf="!isLoading">{{ 'btn.resetPasswordBtn' | translate }}</ng-container>               
                    <!--Loading -->
                    <ng-container *ngIf="isLoading">   
                        <span class="indicator-progress" [style.display]="'block'">
                            Loading...{{ " " }}
                            <span
                              class="spinner-border spinner-border-sm align-middle ms-2"
                            ></span>
                        </span>                        
                    </ng-container>                      
                </button>                
            </div>
        </div>
        <!--Form-->
    </div>
</ng-container>