<div class="modal-header">
    <div class="modal-title h4">
        <ng-container *ngIf="goals">
            <ng-container *ngIf="goals.goalId">{{ 'title.editTitle' | translate }}</ng-container>
            <ng-container *ngIf="!goals.goalId">{{ 'title.createTitle' | translate }}</ng-container>
            {{'nav.goalSubNav' | translate }}
            <ng-container *ngIf="goals.goalId">'{{goals.goalName}}'</ng-container>
        </ng-container>
    </div>
    <div class="d-flex ml-2">
        <button 
            class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close" 
            data-dismiss="modal" 
            (click)="modal.close()">
            <span
                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                class="svg-icon svg-icon-2x">
            </span>
        </button>
    </div>    
</div>
<div class="overlay overlay-block cursor-default modal-body" style="min-height: 325px;">
    <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-dark bg-opacity-5">
            <div class="spinner spinner-lg spinner-success"></div>
        </div>
    </ng-container>
    <ng-container *ngIf="goals">  
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
            <div class="form-group row mb-7">
                <div class="col-12">
                    <label class="form-label">{{ 'form.propertyNameField' | translate }}</label>
                    <input 
                        type="text"
                        name="goalName"
                        class="form-control form-control-lg form-control-solid" 
                        [class.is-invalid]="isControlInvalid('goalName')"
                        [class.is-valid]="isControlValid('goalName')"                        
                        formControlName="goalName"
                    />
                    <div class="valid-feedback" *ngIf="isControlValid('goalName')">{{ 'form.propertyfieldMsg' | translate }}</div>
                    <div class="invalid-feedback" *ngIf="controlHasError('required', 'goalName')">{{ 'form.propertyNameHelper' | translate }}</div>
                    <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'goalName')">{{ 'form.propertyMinimumReq' | translate:{min: '3'} }}</div>                            
                </div>
            </div>                      
            <div class="form-group row mb-7">
                <div class="col-12">
                    <label class="form-label">{{ 'form.propertyNotesField' | translate }}</label>
                    <quill-editor
                        format="html"
                        name="goalNotes"
                        (onEditorChanged)="changedEditor($event)"
                        [class.is-invalid]="isControlInvalid('goalNotes')"
                        [class.is-valid]="isControlValid('goalNotes')"                        
                        formControlName="goalNotes"
                        class="form-control-solid">
                        <div quill-editor-toolbar>
                            <span class="ql-formats">
                                <button class="ql-bold" [title]="'Bold'"></button>
                                <button class="ql-italic" [title]="'Italic'"></button>
                                <button class="ql-underline" [title]="'Undeline'"></button>
                            </span>                          
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered" [title]="'List'"></button>
                                <button class="ql-list" value="bullet" [title]="'List'"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-clean" [title]="'Clean'"></button>
                            </span>                              
                        </div>                            
                    </quill-editor>  
                </div>
            </div>   
            <p>&nbsp;</p>                  
        </form>    
    </ng-container>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate fw-bolder me-2" (click)="modal.close()">{{ 'btn.cancelBtn' | translate }}</button>
    <ng-container *ngIf="goals">
        <button type="submit" class="btn btn-primary btn-elevate fw-bolder" (click)="save()" [disabled]="formGroup.invalid">{{ 'btn.saveBtn' | translate }}</button>
    </ng-container>
</div>    
