<form [formGroup]="formPasswordGroup">   
    <div class="row">
        <label class="col-3"></label>
        <div class="col-9">
            <!-- Alert error-->
            <ng-container *ngIf="hasError">
                <div class="alert alert-dismissible bg-danger d-flex flex-column flex-sm-row p-5 mb-10">
                    <span 
                        [inlineSVG]="'./assets/media/icons/duotune/general/gen048.svg'"
                        class="svg-icon svg-icon-2hx svg-icon-light me-3">
                    </span>
                    <!--Wrapper-->
                    <div class="d-flex flex-column text-light pe-0 pe-sm-10">
                        <!--Title-->
                        <h4 class="mb-1 text-light">Error</h4>
                        <!--Content-->
                        <span>{{ errorMessage }}</span>
                    </div>                        
                </div>     
            </ng-container>                                                                      
        </div>
    </div> 
    <ng-container *ngIf="!showChangePasswordForm">
        <div class="d-flex flex-wrap align-items-center mb-10">
            <div id="kt_signin_password" class="false">
                <div class="fs-6 fw-bolder mb-1">{{ 'form.passwordField' | translate }}</div>
                <div class="fw-bold text-gray-600">************</div>
            </div>
            <div id="kt_signin_password_button" class="ms-auto false">
                <button
                    class="btn btn-light btn-active-light-primary"
                    (click)="togglePasswordForm(true)">
                    {{ 'profile.formUpdatePassword' | translate }}
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showChangePasswordForm">                                            
        <div class="form-group row mb-7">
            <label class="col-form-label col-3 text-lg-right text-left text-alert">{{ 'profile.formCurrentPassword' | translate }}</label>
            <div class="col-9">
                <div class="input-group input-group-lg input-group-solid">
                    <input 
                        [type]="showPassword ? 'text' : 'password'"
                        class="form-control form-control-lg form-control-solid"
                        [placeholder]="'profile.formCurrentPassword' | translate "
                        autocomplete="off"
                        formControlName="currentPassword"
                        [class.is-invalid]="isControlInvalid('currentPassword') || hasError"
                        [class.is-valid]="isControlValid('currentPassword') && !hasError" 
                    />
                    <span class="input-group-text" (click)='showHidePassword()'>
                        <i class="fa fs-3" [ngClass]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>    
                </div>                                  
                <div class="valid-feedback" *ngIf="!hasError">{{ 'form.propertyfieldMsg' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'currentPassword')">{{ 'profile.currentPassReqVal' | translate }}</div>
                <span class="form-text text-muted">{{ 'profile.currentPasswordHelper' | translate }}</span> 
                <!--
                    <a class="text-sm fw-bold cursor-pointer">Forgot password ?</a>
                -->
            </div>
        </div>
        <div class="form-group row mb-7">
            <label class="col-form-label col-3 text-lg-right text-left text-alert">{{ 'form.passwordField' | translate }}</label>
            <div class="col-9">
                <div class="input-group input-group-lg input-group-solid">
                    <input 
                        [type]="showPassword ? 'text' : 'password'"
                        class="form-control form-control-lg form-control-solid"
                        [placeholder]="'form.passwordField' | translate"
                        autocomplete="off"
                        formControlName="password"
                        [class.is-invalid]="isControlInvalid('password')"
                        [class.is-valid]="isControlValid('password')" 
                    />
                    <span class="input-group-text" (click)='showHidePassword()'>
                        <i class="fa fs-3" [ngClass]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>    
                </div>                                     
                <span class="form-text text-muted">{{ 'profile.newPassword2Helper' | translate }}</span>
                <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'password')">{{ 'form.propertyMinimumReq' | translate:{min: '6'} }}</div>                       
            </div>
        </div>
        <div class="form-group row mb-7">
            <label class="col-form-label col-3 text-lg-right text-left text-alert">{{ 'form.rpasswordField' | translate }}</label>
            <div class="col-9">
                <div class="input-group input-group-lg input-group-solid">
                    <input 
                        [type]="showPassword ? 'text' : 'password'"
                        class="form-control form-control-lg form-control-solid"
                        [placeholder]="'form.rpasswordField' | translate"
                        autocomplete="off"
                        formControlName="cPassword"
                        [class.is-invalid]="isControlInvalid('cPassword')"
                        [class.is-valid]="isControlValid('cPassword')" 
                    />
                    <span class="input-group-text" (click)='showHidePassword()'>
                        <i class="fa fs-3" [ngClass]="!showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>                                           
                </div>
                <div class="valid-feedback" *ngIf="isControlValid('cPassword')">{{ 'profile.newPassMatchReqVal' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">{{ 'profile.newPassNotMatchReqVal' | translate }}</div> 
                <span class="form-text text-muted">{{ 'profile.rnewPasswordHelper' | translate }}</span>
            </div>
        </div>   
    </ng-container>   
    <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
        <span
            class="svg-icon svg-icon-2tx svg-icon-primary me-4"
            [inlineSVG]="'./assets/media/icons/duotune/general/gen048.svg'">
        </span>
        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <div class="mb-3 mb-md-0 fw-bold">
                <h4 class="text-gray-800 fw-bolder">{{ 'profile.updatePasswordModalTitle' | translate }}</h4>
                <div class="fs-6 text-gray-600 pe-7">
                    {{ 'profile.updatePasswordAlertInfo' | translate }}
                </div>
            </div>
        </div>    
    </div>         
    <div class="d-flex justify-content-end pt-6 px-0">
        <div class="d-flex justify-content-end">
            <div class="form-group row mb-7"> 
                <div class="col-12">
                    <button type="reset" class="btn btn-light-primary btn-active-primary me-2" (click)="cancel()">
                        {{ 'btn.resetBtn' | translate }}
                    </button>
                    <button type="submit" [disabled]="formPasswordGroup.invalid" class="btn btn-danger btn-light-danger fw-bolder mr-2" (click)="changePassword()">
                        {{ 'btn.resetPasswordBtn' | translate }}
                    </button>
                </div>
            </div>
        </div>          
    </div>                                         
</form>