<div class="modal-header">
    <div class="modal-title h4">{{ 'title.createTitle' | translate }}</div>
    <button 
        type="button"
        class="btn btn-icon btn-sm btn-close btn-active-light-primary" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close"  
        (click)="modal.close()">
        <app-keenicon name="cross" class="fs-1"></app-keenicon>
    </button>     
</div>
<div 
    class="modal-body" 
    [ngClass]="{'overlay overlay-block ': slideService.isLoading$ | async}"
    style="min-height: 325px;">
    <ng-container *ngIf="slideService.isLoading$ | async">
        <div class="overlay-layer bg-dark bg-opacity-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>      
    </ng-container>
    <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row mb-7">
            <div class="col-md-12">
                <label class="form-label">{{ 'form.statusField' | translate }}</label>
                <select class="form-select form-select-solid form-select-lg fw-bold" 
                name="active"
                [class.is-invalid]="isControlInvalid('active')" 
                formControlName="active">
                <option value="1">{{ 'form.statusActiveField' | translate }}</option>
                <option value="0">{{ 'form.statusDeactiveField' | translate }}</option>
                </select>
            </div>
        </div>     
        <div class="form-group row mb-7">      
            <div class="col-md-12">
                <label class="form-label">Overlay</label>
                <select 
                    class="form-select form-select-solid form-select-lg fw-bold" 
                    name="mask"
                    [class.is-invalid]="isControlInvalid('mask')" 
                    formControlName="mask">
                    <option value="1">{{ 'form.yesField' | translate }}</option>
                    <option value="0">{{ 'form.noField' | translate }}</option>
                </select>                
            </div>    
        </div>     
        <div class="form-group row mb-7">
            <div class="col-md-12">
                <label class="form-label">{{ 'form.propertyNameField' | translate }}</label>
                <input type="text" class="form-control form-control-lg form-control-solid" 
                    name="name"
                    [placeholder]="'form.propertyNameField' | translate" autocomplete="off" 
                    [class.is-invalid]="isControlInvalid('name')"
                    [class.is-valid]="isControlValid('name')" 
                    formControlName="name" 
                />
                <div class="valid-feedback" *ngIf="isControlValid('name')">{{ 'form.propertyfieldMsg' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">{{ 'form.propertyNameHelper' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'name')">{{ 'form.propertyMinimumReq' | translate:{min: '3'} }}</div>
            </div>
        </div>
        <div class="form-group row mb-7">
            <div class="col-md-12">
                <label class="form-label">URL</label>
                <div class="input-group input-group-lg input-group-solid">
                    <span class="input-group-text">
                        <i class="fa fa-link icon-sm"></i>
                    </span>                   
                    <input type="text" class="form-control form-control-lg form-control-solid" 
                        name="link"
                        placeholder="URL" 
                        autocomplete="off" 
                        [class.is-invalid]="isControlInvalid('link')"
                        [class.is-valid]="isControlValid('link')" 
                        formControlName="link" 
                    />
                </div>
                <div class="valid-feedback" *ngIf="isControlValid('link')">{{ 'form.propertyfieldMsg' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'link')">{{ 'form.propertyReq' | translate }}</div>
            </div>
        </div>  
        <div class="form-group row mb-7">
            <div class="col-md-12">
                <label class="form-label">{{ 'form.propertyDescField' | translate }}</label>
                <textarea type="text" class="form-control form-control-lg form-control-solid" 
                    name="description"
                    [placeholder]="'form.propertyDescField' | translate" 
                    autocomplete="off" 
                    [class.is-invalid]="isControlInvalid('description')"
                    [class.is-valid]="isControlValid('description')" 
                    formControlName="description">
                </textarea>
                <span class="form-text text-muted">{{ 'form.htmlNotAllowedHelper' | translate }}</span>
                <div class="valid-feedback" *ngIf="isControlValid('description')">{{ 'form.propertyfieldMsg' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'description')">{{ 'form.propertyReq' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'description')">{{ 'form.propertyMinimumReq' | translate:{min: '3'} }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'description')">{{ 'form.propertyMaximumReq' | translate:{max: '250'} }}</div>
            </div>
        </div>                 
    </form>      
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">{{ 'btn.cancelBtn' | translate }}</button>
    <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
        [disabled]="formGroup.invalid">{{ 'btn.saveBtn' | translate }}
    </button>
</div>    
