<div class="page-home">
    <div class="index-slider">
        <section class="cover fullscreen">
            <div class="app-content-container p-0">
                <div class="app-container-fit-desktop">                 
                    <app-slider class="app-slider"></app-slider>                   
                </div>   
            </div>
        </section>
    </div>
    <div class="index-company">
        <section class="bg-white">
            <div class="app-container">
                <div class="container-xxl">
                    <app-company class="app-company"></app-company>
                </div>
            </div>            
        </section>
    </div> 
    <div class="index-services">
        <section class="bg-white">
            <div class="app-container">
                <div class="container-xxl">
                    <app-services class="app-services"></app-services>
                </div>
            </div>            
        </section>
    </div>        
</div>